body{
    background: white;
    padding: 0;
    margin: 0;
    border: none;
    transition: opacity, 1s; 
    opacity: 0.0;
}

#disciplinesTable, .searchForm{
    border: 1px solid black;
    width: 1200px;
    margin: auto;
    margin-top: 23px;
}

.searchForm{
    padding: 7px 3px;
}

#disciplinesTable th{
    border: 1px solid black;
}

#disciplinesTable td{
    border: 1px solid black;
    text-align: center;
}

.navCol{
    width: 120px;
}

#prevPageBtn, #nextPageBtn{
    display: inline;
    width: 23px;
    padding: 0;
}

.idCol{
    padding: 2px 7px;
}

.surnameCol{
    padding: 2px 7px;
}

.nameCol{
    padding: 2px 7px;
}

.patronymicNameCol{
    padding: 2px 7px;
}

.redactCol{
    width: 112px;
}

.facultyCol{
    padding: 2px 7px;
}

.departmentCol{
    padding: 2px 7px;
}

.groupCol{
    padding: 2px 7px;
}

.yearCol{
    padding: 2px 7px;
}

.semestrCol{
    padding: 2px 7px;
}

.sheetCol {
    width: 144px;
}

.deleteCol{
    width: 48px;
}

.additionButton{
    width: 100%;
}