body{
    background: white;
    padding: 0;
    margin: 0;
    border: none;
    transition: opacity, 1s; 
    opacity: 0.0;
}

#facultiesTable{
    border: 1px solid black;
}

#facultiesTable td{
    border: 1px solid black;
}

#facultiesTable td{
    border: 1px solid black;
}
