.panelLink{
    height: 70px;
    display: inline-block;
    color: black;
    padding: 12px 34px;
}

@media (max-width: 1766px) {
    .panelLink{
        height: 48px;
        padding: 7px 23px;
    }
}

@media (max-width: 1234px) {
    .panelLink{
        height: 34px;
        padding: 4px 16px;
    }
}

@media (max-width: 848px) {
    .panelLink{
        height: 23px;
        padding: 3px 12px;
    }
}

@media (max-width: 599px) {
    .panelLink{
        height: 16px;
        padding: 2px 7px;
    }
}